.btn{
	font-size: 14px;
}

.btn.-lime{
	color: #ffffff;
	background-color: #a7cb00;
	border-color: #a7cb00;
	font-weight: 500;
}

.btn.-lime:active{
	color: #ffffff;
	background-color: #a7cb00;
	border-color: #a7cb00;
}

.btn.-lime-outline{
	color: #a7cb00;
	background-color: transparent;
	border-color: #a7cb00;
	font-weight: 500;
}

.btn.-lime-outline:active{
	color: #a7cb00;
	background-color: transparent;
	border-color: #a7cb00;
}

.btn.-lime-outline:focus{
	color: #a7cb00;
	background-color: transparent;
	border-color: #a7cb00;
	box-shadow: 0 0 0 0.2rem rgba(180, 211, 38, 0.5);
}

.btn.-lime-outline:hover{
	color: #ffffff;
	background-color: #91AA00;
	border-color: #91AA00;
}


.btn.-lime:focus{
	color: #ffffff;
	background-color: #a7cb00;
	border-color: #a7cb00;
	box-shadow: 0 0 0 0.2rem rgba(147, 178, 6, 0.5);
}

.btn.-lime:hover{
	color: #ffffff;
	background-color: #91AA00;
	border-color: #91AA00;
}

.btn.-red{
	color: #ffffff;
	background-color: #ff4444;
	border-color: #ff4444;
	font-weight: 500;
}

.btn.-red:active{
	color: #ffffff;
	background-color: #ff4444;
	border-color: #ff4444;
}

.btn.-red:focus{
	color: #ffffff;
	background-color: #ff4444;
	border-color: #ff4444;
	box-shadow: 0 0 0 0.2rem rgba(255, 68, 68);
}

.btn.-red:hover{
	color: #ffffff;
	background-color: #d32f2f;
	border-color: #d32f2f;
}