// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// My Colors
$white: 		#ffffff;
$mine-shaft: 	#333333;
$boulder: 		#777777;
$blue-charcoal: #000410;
$pistachio: 	#a7cb00;
$lime-green: 	#91AA00;
$coral-red:     #ff4444;
$guardsman-red: #d32f2f;
$cornflower-blue: #4285F4;
$tory-blue: 	#0D47A1;
$sunglow:		#ffbb33;
$pizazz:		#ff8800;