.all-contractors{
	padding: 2rem 0 5rem;
}

.all-contractors__title{
	font-size: 2.5rem;
	text-align: center;
	font-weight: 600;
}

.all-contractors__header-line{
	font-size: 1.5rem;
	margin: 0 auto;
}

.all-contractors__sub-title{
	text-align: center;
	color: #777777;
}

.all-contractors__card-title{
	height: 4rem;
}

.all-contractors__card-text{
	height: 8rem;
}